@font-face {
    font-family: 'FSGLA';
    src: url('../fonts/FSGLAA.woff2') format('woff2'),
        url('../fonts/FSGLAA.woff') format('woff'),
        url('../fonts/FSGLAA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  #map { height: 100vh; }
  .leaflet-routing-container { display: none; }

.custom-icon {
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
div:where(.swal2-container) div:where(.swal2-html-container){
    text-align: justify
}


.swal2-container figcaption{text-align: center;}
.swal2-container img {display: block;margin: auto;    max-width: 100%;}
.swal2-modal .swal2-content{text-align: justify}
.leaflet-top.leaflet-left .leaflet-control.route-select {
  margin-top: 10px;
  margin-left: 10px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  padding: 4px;
}

.leaflet-control.route-select select {
  border: none;
  font-size: 14px;
  padding: 4px 6px;
  background: transparent;
  outline: none;
}

.leaflet-top.leaflet-right .leaflet-control.route-select {
  margin-top: 10px;
  margin-right: 10px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  padding: 4px;
}

.leaflet-control.route-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  font-size: 14px;
  z-index: 1000;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}
  body {
    height: 100%;
    overflow: hidden;
  }

  body.swal2-shown,
  html.swal2-shown {
    height: 100% !important;
    overflow: hidden !important;
  }

  body.swal2-height-auto {
    height: 100% !important;
  }

  .swal2-container {
    height: 100% !important;
  }